*{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width:80%;
  margin:auto;
}

body{
  background: #f4f4f4;
  color: #333;
}

#main-header{
  background-color: #186a3b;
  color:white;
}

#main-header h1{
  text-align: center;
  padding:10px;
  font-size: 40px;
}

#navbar {
  background-color: #424949;
}

#navbar ul{
  padding:8px;
  list-style: none;
}

#navbar li{
  display:inline;
  margin-right:15px;
}

#navbar a{
  color:white;
  text-decoration: none;
}

#highlight{
  min-height: fit-content;
  text-align: center;
  font-size: 30px;
  padding:1em;
  background-image: url(../images/showcase.jpg);
  background-position: center center;
  color:white;
}

.showcase-box{
  width: fit-content;
  margin:auto;
  font-size: large;
  padding:5px;
  background-color:rgba(66, 73, 73, 0.5);
}

.showcase-box cite{
  font-size: 30px;
}

#main{
  float: left;
  width:60%;
  padding: 30px 10px;
  box-sizing: border-box;
}

#sidebar{
  float:right;
  width:40%;
  padding: 10px 10px;
  background-color: #424949;
  margin-top: 20px;
  box-sizing: border-box;
}

img{
  width:100%;
}

#main-footer{
  margin-top: 100px;
}

@media(max-width:600px){
  #main{
    float:none;
    width:100%;
  }
  #sidebar
  {
    float:none;
    width:100%;
  }
}

@media(orientation: portrait){
  #main{
    float:none;
    width:100%;
  }
  #sidebar
  {
    float:none;
    width:100%;
  }
}