%button{
  display: inline-block;
  padding: 8px 20px;
  margin: 3px; 
  border-radius: 5px;
  &:hover{
    transform: scale(0.98);
    @include set-background(darken($primary-color, 5%));
  }
  &:active{
    transform: scale(0.98);
  }
}

.btn-primary{
  @extend %button;
  @include set-background(lighten($primary-color,10%));
  text-align: center;
}