@media(max-width:768px){
  .main-block{
    display: block;
  }
  
  #main{
    width:100%;
  }
  #sidebar
  {
    width:100%;
  }
  .triple{
    display: block;
    width: 100%;
    .column{
      width: 100%;
    }
  }
}

@media(orientation: portrait){
  .main-block{
    display: block;
  }
  
  #main{
    width:100%;
  }
  #sidebar
  {
    width:100%;
  }
  .triple{
    display: block;
    width: 100%;
    .column{
      width: 100%;
    }
  }
  #main-footer
  {
    display:none;
  }
}

@media(orientation: landscape)
{
  #main-footer
  {
    display:none;
  }
}