.container{
  width:80%;
  margin:auto;
}


//set text color based on background
@function set-text-color($color){
  @if (lightness($color) > 70) {
    @return $dark-color;
  }
  @else
  {
    @return $background-color; 
  }
}

//set background and textcolor
@mixin set-background($color)
{
  background-color: $color;
  color: set-text-color($color);
}

//margin and padding classes
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space}{
    margin: #{$space}rem;
  }
  .my-#{$space}{
    margin: #{$space}rem 0;
  }

  .p-#{$space}{
    padding: #{$space}rem;
  }

  .py-#{$space}{
    padding: #{$space}rem 0;
  }
}