$background-color: #f4f4f4;
$grey: #424949;
$green: #186a3b;

*{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.container{
  width:80%;
  margin:auto;
}

body{
  background: $background-color;
  color: $grey;
  padding-bottom: 100px;
}

#main-header{
  background-color: $green;
  color:white;

  h1{
    text-align: center;
    padding:0.5em;
    font-size: 50px;
  }
}

#navbar {
  background-color: $grey;
  li{
    display:inline;
    margin-right:15px;
    font-size: 18px;
  }

  ul{
    padding:8px;
    list-style: none;
    text-align: center;
  }

  a{
    color:white;
    text-decoration: none;
  }

  a:hover{
    font-weight: 700;
  }
}

#highlight{
  min-height: fit-content;
  text-align: center;
  font-size: 30px;
  padding:1em;
  background-image: url(../images/showcase.jpg);
  background-position: center center;
  color:white;
}

.showcase-box{
  width: fit-content;
  margin:auto;
  font-size: large;
  padding:5px;
  background-color:rgba(66, 73, 73, 0.6);
  border-radius: 10px;
  cite{
    font-size: 30px;
  }
}

#main{
  float: left;
  width:60%;
  padding: 30px 30px;
  box-sizing: border-box;

  h2{
    margin-bottom: 15px;
  }
}

p{
  font-size: 18px;
}

.triple{
  display: flex;
  clear: both;
  margin: auto auto;
  color:$background-color;

  .column{
    float: right;
    width:25%;
    margin: 1em auto;
    background-color: $grey;
    padding: 1em;
  }

  h1{
    color:$background-color;
    text-align: center;
  }

  img{
    background-color: $background-color;
  }


  li{
    font-size: 18px;
  }

  ul{
    margin-bottom: 0.4em;
  }
}

#sidebar{
  float:right;
  width:40%;
  padding: 10px 10px;
  background-color: $grey;
  margin-top: 30px;
  box-sizing: border-box;
}

img{
  width:100%;
}

#main-footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: $grey;
  color: $background-color;
  text-align: center;
}

@media(max-width:600px){
  #main{
    float:none;
    width:100%;
  }
  #sidebar
  {
    float:none;
    width:100%;
  }
  .triple{
    display: block;
    float: none;
    width: 100%;
    .column{
      float: none;
      width: 100%;
    }
  }
}

@media(orientation: portrait){
  #main{
    float:none;
    width:100%;
  }
  #sidebar
  {
    float:none;
    width:100%;
  }
  .triple{
    display: block;
    float: none;
    width: 100%;
    .column{
      float: none;
      width: 100%;
    }
  }
}