@import 'config';
@import 'utilities';

body{
  @include set-background($background-color);
  padding-bottom: 100px;
}

#main-header{
  background-color: $primary-color;
  color:white;

  h1{
    text-align: center;
    padding:0.5em;
    font-size: 50px;
  }
}

#navbar {
  background-color: $dark-color;
  li{
    display:inline;
    margin-right:15px;
    font-size: 18px;
  }

  ul{
    padding:8px;
    list-style: none;
    text-align: center;
  }

  a{
    color:white;
    text-decoration: none;

    &:hover{
    font-weight: 700;
    transform: scale(0.95);
    }
  }

}

#highlight{
  color:white;
  min-height: fit-content;
  text-align: center;
  font-size: 30px;
  padding:1em;
  background-image: url(../images/showcase.jpg);
  background-position: center center;
}

.showcase-box{
  width: fit-content;
  margin:auto;
  font-size: large;
  padding:5px;
  background-color:rgba(66, 73, 73, 0.6);
  border-radius: 10px;
  cite{
    font-size: 30px;
  }
}

#main{
  float: left;
  width:60%;
  padding: 30px 30px;
  box-sizing: border-box;

  h2{
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.triple{
  display: flex;
  clear: both;
  margin: auto auto;
  color:$background-color;

  .column{
    @include set-background($dark-color);
    float: right;
    width:25%;
    margin: 1em auto;
    background-color: $dark-color;
    padding: 1em;
  }

  h1{
    color:$background-color;
    text-align: center;
  }

  img{
    background-color: $background-color;
  }


  li{
    font-size: 18px;
  }

  ul{
    margin-bottom: 0.4em;
  }
}

#sidebar{
  float:right;
  width:40%;
  padding: 10px 10px;
  @include set-background($dark-color);
  margin-top: 30px;
  box-sizing: border-box;
}

img{
  width:100%;
}

#main-footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  @include set-background($dark-color);
  text-align: center;
}

@import 'mobile';